<!--The content below is only a placeholder and can be replaced.-->
<div class = "main" infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()">

  <div class="row">
   <div class="col-lg-12">
      <div class="input-group">
   <input type="text" class="form-control" placeholder="Search" [(ngModel)]='filterText'/>
   <div class="input-group-btn">
        <button (click)="filterList()" class="btn" type="submit" >
        <span class="glyphicon glyphicon-search" ></span>
        </button>
   </div>
   </div>
   </div>
  </div>

<div class="flex-container" *ngIf = " videosDataArray ">
	<div class="flex-item" *ngFor = "let arr of videosDataArray.page['content-items'].content" >
	
	  <img src = "assets/images/{{arr['poster-image']}}"  onerror="this.src='assets/images/noData.jpg';">
	  <h2>{{ arr.name }}</h2>
	</div>
</div>
</div>
